name: PR Gate

on:
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install flake8
        run: pip install -r requirements-flake8.txt

      - name: Run flake8
        run: flake8 src/scenepic test python_examples

  cpp-format:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path: 
          - check: src
            exclude: (/cpp-base64/|/json/|/miniz/|/tinyobj/)
          - check: test
            exclude: ''
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: NPM steps
        run: |
          npm install
          npm run build

      - name: Run clang-format style check
        uses: jidicula/clang-format-action@v4.8.0
        with:
          clang-format-version: '13'
          check-path: ${{matrix.path['check']}}
          exclude-regex: ${{matrix.path['exclude']}}

  windows-job:
    needs: [linting, cpp-format]
    uses: ./.github/workflows/windows.yml
    with:
      vmImage: windows-latest

  linux-job:
    needs: [linting, cpp-format]
    uses: ./.github/workflows/linux.yml
    with:
      vmImage: ubuntu-latest

  mac-job:
    needs: [linting, cpp-format]
    uses: ./.github/workflows/mac.yml
    with:
      vmImage: macos-latest

  mac-intel-job:
    needs: [linting, cpp-format]
    uses: ./.github/workflows/mac.yml
    with:
      vmImage: macos-15-intel